BOT_API_TOKEN=<bot-api-token>
DATABASE_URL=<postgres-url>
sentence_to_audio_limit=<number>
user_sent_audio_limit=<number>
audio_check_limit=<number>
user_check_audio_limit=<number>
pending_audio_timeout_minutes=<number>
SECRET_KEY=<key>
ACCESS_TOKEN_EXPIRE_MINUTES=<number>